{% extends 'common/base/errors_base.html' %}
{% load static %}
{% block error_content %}
    <div class="error-image text-center">
        <img src="{% static 'admin/images/403_error.png' %}">
    </div>
    <h4>Sorry, Access Denied</h4>
    <p>The page you're trying to access cannot be accessed by your group.</p>

    <div class="action_buttons">
        <a href="" class="btn btn-primary btn-sm">
            <i class="fa fa-arrow-left"></i> Previous Page
        </a>
        <a href="{% url 'public-add-submission' %}" class="btn btn-primary btn-sm">
            <i class="fa fa-home"></i> Back Home
        </a>
    </div>
{% endblock %}